<h1>Rotten Mangoes</h1>
<%= link_to "Submit a Movie", new_movie_path %>
<hr>

<%= form_tag("movies#index", :method => "get") do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag([:movie, :title]) %>
  <%= label_tag(:director, "Director:") %>
  <%= text_field_tag([:movie, :director]) %>
  <%= label_tag(:duration, "Search for:") %>
  <%= select(:movie, :duration, [['Shorter than 90 mins', 1], ['Between 90 and 120', 2], ['Longer than 120 mins', 3]]) %> 
  <%= submit_tag("Search") %>
<% end %>
<hr>

<%= render 'movie' %>




