<h1>Rotten Mangoes</h1>
<%= link_to "Submit a Movie", new_movie_path %>
<hr>

<%= form_tag("movies#index", :method => "get") do %>
  <%= label_tag "Search by Title" %>
  <%= text_field_tag :title %>
  <%= label_tag "Director" %>
  <%= text_field_tag :director %>
  <%= label_tag "Duration" %>
  <%= select_tag :duration, options_for_select([['Under 90 minutes', 1], ['Between 90 and 120 minutes', 2], ['Over 120 minutes', 3]]) %>
  <%= submit_tag "Search" %>
<% end %>

<%= render 'movie' %>




